/* START FOR LANGUAGE BAR */
.languageBar{
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.languageBar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.languageBar > :first-child p {
    font-size: 10px;

}
.languages p{
    font-size: 14px;
    font-weight: bold;
}
.languages :first-child{
    border-right: 1px solid rgba(0, 0, 0, 0.425);
    padding-right: 8px;
    color: var(--color-accent)
}

/* START FOR TITLE BAR */
.titleBar{
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    background-color: #F5F5F5;

}
.titlebar-scroll{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}
.titleBar h2{
    font-size: 32px;
}
.titleBar div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 1px solid var(--color-muted) ;
    border-radius: 4px;
    padding: 1px 8px;
    cursor: pointer;

}
.titleBar p {
    font-size: 12px;
    color: var(--color-muted);
}
.titleBar i {
    
    color: var(--color-muted);
}

/* START FOR BANNER */

.banner img{
    width: 100%;
    height: 65vh;
    margin-top: 16px;
}

/* START FOR VISION SECTION */

.vision{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.vision :first-child{
    color: var(--color-muted);
}
.vision :nth-child(2){
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color:  rgb(39, 39, 39);
}
.vision :last-child{
    font-size: 14px;
    text-align: center;
    color: var(--color-muted);
}

/* START FOR CHART */

.chart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    margin-top: 40px;
}

.chart img {
    width: 400px;
    border: 2px solid black;
}

.chart div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 32px;
}
.chart h2{
    font-size: 32px;
    font-weight: 400;
}
.chart p{
    font-size: 14px;
}
/* START FOR VIDEO VISION */

.vision-video{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 120px;
}
.videoContainer{
    position: relative;
    border: 2px solid black;
    width: 70%;
    height: 90vh;
}
.videoContainer img{
   /* object-fit: contain; */
   width: 100%;
   height: 100%;
   transition: all 0.5s;
} 
.videoContainer img:hover{
    opacity: 0.7;
}
.videoContainer i{
    position: absolute;
    top: 55%;
    left: 45%;
    font-size: 72px;
    color: rgb(27, 27, 27);
  
}
.vision-video p {
    font-size: 22px;
    font-weight: bolder;
    color:var(--color-button-bg);
}
.vision-video a{
    color:var(--color-button-bg);
   
    font-weight: bolder;
}
.vision-video a:hover{
    text-decoration: underline;
    color: black;
}

.vision-video :last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* margin-top: 16px; */
}
.vision-video :last-child >i{
    color: gray;
    font-size: 32px;
    font-weight: lighter;
}
/* START FOR STORIE VISION */
.stories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    gap: 40px;
}
.stories h2{
    color:#333333 ;
    font-size: 28px;
}
.storiesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 20px 40px;
    width: 90%;
    overflow-x: scroll;          
    scroll-behavior: smooth;
    
}
.storiesContainer::-webkit-scrollbar {
  display: none;
}

.storieCard{
    width: 320px;
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
    flex-shrink: 0; 
    
}
.storieCard img{
    width: 100%;
    height: 50%;
}
.date{
    font-size: 13px;
    color: #818181;
}
.titleStorie{
    font-size: 15px;
    color: #424242;
    font-weight: 700;
}
.bodeStorie{
    font-size: 14px;
    color: #818181;
    
}
.groupwide{
    font-size: 12px;
    color: #504f4f;
    background-color: #d4d4d4;
    border-radius: 16px;
    padding: 2px 8px;
}

.hide{
    display: none;
}
#leftBTN{
    border-radius: 50px;
    background-color: #424242;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40px;

}
#leftBTN i {
    color: #d4d4d4;
    font-size: 28px;
}
#rightBTN{
    border-radius: 50px;
    background-color: #424242;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 40px;

}
#rightBTN i {
    color: #d4d4d4;
    font-size: 28px;
}

/* START FOR CATEGORY */

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-top: 100px;
    padding: 0 72px;
}
.category h2 {
    font-size: 28px;
    color: #333333;
}
.cardContainer{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 32px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    cursor: pointer;
    transition: all 0.5s;
}
.card a{
    color:#333333;
    font-weight: 700;
    transition: all 0.5s;
}
.card:hover a{
    text-decoration: underline;
    
}
.card:hover img{
    opacity: 0.7;
    transition: all 0.5s;
}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.card div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.card i {
    color: #3d3d3d;
    font-size: 24px;
}

/* START FOR REPORT */
.report{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 44px;
    margin-top: 120px;
}
.report h2{
    font-size: 28px;
    color: #3d3d3d;
}
.report img{
    width: 90%;
    height: 90%;
    transition: all 0.5s;
}
.report img:hover{
    opacity: 0.7;
}
.boxLink{
    border: 1px solid #DADADA;
    width: 500px;
    height: 60px;
     display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    
}
.boxLink:hover{
    background-color: #DADADA ;
}
.boxLink p{
    color: #474747;
}
.boxLink i{
    color: #888888;
    margin-left: 64px;
    font-size: 28px;
}

/* START FOR RELATED CONTENT */
.relatedContent{
    margin: 64px 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
}
.relatedContent hr{
    height: 2px;
    background-color: #3d3d3d;
    /* border: 1px  solid #3d3d3d; */
    height: 1px;
    width: 100%;
}
.container-cardRelated{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    
    
}
.cardRelated{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
}
.cardRelated:hover a{
    text-decoration: underline;
}
.cardRelated:hover img{
    opacity: 0.7;
}
.cardRelated img{
    width: 100%;
    height: 260px;
    transition: all 0.5s;
    
}
.relatedContent a{
    color: #504f4f;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.5s;
  
    
}
.relatedContent i{
    color: #504f4f;
    font-size: 24px;
    
} 
.relatedContent div {
    display: flex;
    justify-content: start;
    align-items: start;
}  

/* START FOR RELATED INFORMATON */
.InformationGroup{
    margin: 64px 80px ;
   
}
.InformationGroup h2{
    color: #3b3b3b;
}
.InformationGroup hr{
    margin-top: 20px;
}
.linkContainer{
    margin-top: 48px;
    
}
.linkContainer div{
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items:center;
    gap: 16px;
    transition: all 0.5s;
}
.linkContainer div :first-child{
    color: #616161;
    font-size: 10px;
}
.linkContainer div :last-child{
    color: #818181;
    font-size: 24px;
}
.linkContainer div a{
    color: #616161;
    font-size: 13px;
    transition: all 0.5s;
    
}
.linkContainer div:hover a{
    text-decoration: underline;
    color: #424242;
}
.backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #99999983;
  backdrop-filter: blur(20px);
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 1100;
  display: none;
}

.backToTop i {
  font-size: 32px;
}
.show {
  display: block !important;
  opacity: 1;
}

/* START FOR MEGAMENU */
.magaMenu{
    position: absolute;
    top:175px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #474747a1;
    backdrop-filter: bulr(20px);
    width: 100%;
    height: 100%;
    display: none;

}

.subMegaMenu{
    padding: 64px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    background-color: #F5F5F5;
    width: 100%;
    height: 50%;
    text-align: start;
}
.subMegaMenu div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
}
.subMegaMenu div p{
    color: #616060;
    font-size: 14px;
    font-weight: bold;
}
.subMegaMenu div i{
    color: #616060;
    font-size: 24px;
}
.showMega{
    display: block;
}